h2 {
    color: #00aced;
    border-bottom: 2px solid #00aced;
    padding-bottom: 5px;
}

a {
    color: #00aced;
    text-decoration: underline;
}

a:hover {
    color: #0084b4;
}

ul li {
    margin-bottom: 5px;
}